<%-include('layout/header.ejs')-%>
<%-include('layout/broadcumbs.ejs')-%>
<div class="container mt-5">
    <div class="d-flex justify-content-end pe-5 mb-5">
        <div class="d-flex">
            <select id="numberOfView" class="form-select  me-2">
                <option <%-(showPerPage == "7") ? "selected" : '' -%> value="7">7</option>
                <option <%-(showPerPage == "10") ? "selected" : ''-%> value="10">10</option>
                <option <%-(showPerPage == "15") ? "selected" : '' -%> value="15">15</option>
                <option <%-(showPerPage == "20") ? "selected" : '' -%> value="20">20</option>
            </select>
            <button class="btn btn-success me-2">Import</button>
            <a href="/add" class="btn btn-primary me-2">Add</a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Image</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <%data.forEach(function (item){
            %>
            <tr>
                <td><%-item.image-%></td>
                <td><%-item.fname-%></td>
                <td><%-item.lname-%></td>
                <td><%-item.email-%></td>
                <td>
                    <a href="/view/<%-item._id-%>" class="btn btn-sm btn-info">
                        <i class="bi bi-eye"></i>
                    </a>
                    <button class="btn btn-sm btn-primary">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            <%
                })
            %>
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <ul class="pagination pagination-sm">
            <li class="page-item"><a class="page-link <%-(previousPage == null) ? "disabled" : ''-%>" href="<%-previousPage-%>">Previous</a></li>
            <%
            links.forEach(function(item){
            %>
                <li class="page-item "><a class="page-link <%-(item.active == true) ? "disabled" : ''-%>" href="<%-item.link-%>"><%-item.pageNo-%></a></li>
            <%
                })
            %>
            <li class="page-item"><a class="page-link <%-(nextPage == null) ? "disabled" : ''-%>" href="<%-nextPage-%>">Next</a></li>
        </ul>
    </div>
</div>
<script>
    let numberOfView = document.getElementById('numberOfView');
    numberOfView.addEventListener('change', function (){

        let href = location.href.split('?')[1];
        let redirect_with = "/";

        if(typeof href != "undefined" ){
            let href_vars = href.split('&');
            let new_param = "";
            href_vars.forEach(function (item){
                var param = item.split('=');
                if(param[0] != "show"){
                    new_param += "&"+item
                }
            });
            redirect_with = "/?show="+this.value+new_param;
        }
        else{
            redirect_with = "/?show="+this.value;
        }

        location.href = redirect_with
    })
</script>

<%-include('layout/footer.ejs')-%>